.landing {
	position: relative;

	&_form {
		width: 50%;
		padding: 6rem;
		margin: 10rem auto;


		@include box-shadow;
		@include for-mobile {
			width: 100%;
		}


	}
}

.form {
	&_label {
		margin-top: .5rem;
		display: block;
	}
}

.form_container {
  @include box-shadow;
  width: 60%;
  margin: 5rem auto;

	&-wrapper {
		width: 70%;
		margin: auto;
	}
}
